* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-forms {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6vh;
    margin-bottom: 6vh;

}

.form {
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0;
    background-color: rgb(167, 164, 164);
    box-shadow: 0 0 3px 1px black;
    align-items: center;

    &.form--serch {
        flex-flow: column nowrap;
        justify-content: space-around;

    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;

        .form--add & {
            flex-basis: 100%;

        }
    }

    &__input {
        font-size: 18px;
        // text-align: center;
        padding: 8px 10px;
        margin-bottom: 20px;
        border: none;

        .form--serch & {
            width: 60%;
        }

        .form--add & {
            flex-basis: 40%;

        }
    }

    &__btn {
        // flex-basis: 30%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 10px 14px;
        box-shadow: 0 0 3px 1px black;
        cursor: pointer;

        .form--add & {
            flex-basis: 30%;

        }

    }

}

.result,
.content {
    margin: 0 auto;
    max-width: 70vw;

}

.result {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__info-description {
        flex-basis: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;

    }

    &__infoDiv {
        flex-basis: 30%;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 0 2px 1px grey;
    }
}

.content {
    box-shadow: 0 0 3px 1px grey;
}

.footer {
    width: 70vw;
    margin: 30px auto 0;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    background-color: black;
    color: white;

}